<main *ngIf="values">
  <section class="imgCat">
    <button style="cursor: pointer;" routerLink="">Voltar</button>
    <img src="{{ values.url }}" alt="">
  </section>
  <section>
    <div>
      <h1>{{ values.breeds[0].name }}</h1>
      <h2>Origem:</h2>
      <p>{{ values.breeds[0].origin }}</p>
      <h2>Tempo de Vida:</h2>
      <p>{{ values.breeds[0].life_span }} anos</p>
      <h2>Descrição:</h2>
      <p>{{ values.breeds[0].description }}</p>
      <h2>Favoritar:</h2>
      <button style="margin-top: -30px;" class="favoritoBtn" mat-button (click)="addFavorite(values.id)">
        <img *ngIf="values.imgIcon" src="../../assets/amor_ativo.png" alt="">
        <img *ngIf="!values.imgIcon" src="../../assets/amor.png" alt="">
      </button>
      <h2>Saiba mais:</h2>
      <p><a href="{{ values.breeds[0].vcahospitals_url }}" target="_blank">Hospital do Animal</a></p>
      <p><a href="{{ values.breeds[0].vetstreet_url }}" target="_blank">Great Pet Care</a></p>
    </div>
  </section>
</main>
<section class="erro" *ngIf="erro">
  <button class="fecharBtn" (click)="erro = false">X</button>
  <h1>Já adicionando nos favoritos</h1>
  <p>Não é possível adicionar o mesmo gato 2 vezes!</p>
  <button class="verFav" (click)="navigate()">Veja os seus favoritos</button>
</section>

