.area{
    width: 100%;
    text-align: center;
}
.carregar{
position: absolute;
width: 400px;
height: 200px;
top: calc(50% - 100px);
left: calc(50% - 200px);
font-size: 130%;
}
.carregar > *{
position: relative;
margin: auto;
text-align: center;
}
.card {
margin: 5px;
margin-bottom: 50px;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.321);
border-radius: 5px;
display: inline-block;
cursor: pointer;
width: 318px;
background-color: transparent;
height: 700px;
}
.card > *{
position: relative;
font-size: 120%;
width: 100%;
height: 100%;
}
.img-cat{
width: 100%;
height: 300px;
object-fit: cover;
}
.appear{
display: none;
}