<div *ngIf="!load" class="carregar">
  <mat-spinner></mat-spinner>
  <p>Espere um momento, as imagens estão sendo carregadas!</p>
</div>
<section (mouseenter)="seach(false)" class="area" *ngIf="load" style="margin-top: 50px;">
  <div *ngFor="let element of showCats" class="card" routerLinkActive="router-link-active">
      <mat-card>
      <div class="clicked" routerLink="detail/{{ element.id }}">
        <img class="img-cat" mat-card-image src="{{ element.url }}" alt="Photo of a {{ element.breeds[0].name}}">
          <mat-card-header>
              <mat-card-title class="titulo">{{ element.breeds[0].name }}</mat-card-title>
              <mat-card-subtitle>{{ element.breeds[0].origin }}</mat-card-subtitle>
          </mat-card-header>
      <mat-card-content class="descricao">
          <p>
          {{element.breeds[0].description}}
          </p>
      </mat-card-content>
  </div>
      <mat-card-actions>
          <button class="favoritoBtn" mat-button (click)="addFavorite(element.id)">
            <img *ngIf="element.imgIcon" src="../../assets/amor_ativo.png" alt="">
            <img *ngIf="!element.imgIcon" src="../../assets/amor.png" alt="">
          </button>
      </mat-card-actions>
  </mat-card>
</div>
</section>
<div class="seach" (mouseenter)="seach(true)">
  <img src="../assets/search-svgrepo-com.svg" alt="">
  <input #valor (keyup.enter)="filtrar(valor.value)" *ngIf="seachInput" type="text" placeholder="procure uma raça">
</div>
<section class="erro" *ngIf="erro">
    <button class="fecharBtn" (click)="erro = false">X</button>
    <h1>Ja adicionando nos favoritos</h1>
    <p>Não é possível adicionar o mesmo gato 2 vezes!</p>
    <button class="verFav" routerLink="fav">Veja os seus favoritos</button>
</section>
