<div *ngIf="!continuar" class="carregar">
  <mat-spinner></mat-spinner>
  <p>Espere um momento, as imagens estão sendo carregadas</p>
</div>
<section class="area" *ngIf="continuar && !detalhe">
  <button *ngFor="let element of temp" class="card" (click)="informacoes(element)" routerLinkActive="router-link-active">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ element.nome }}</mat-card-title>
        <mat-card-subtitle>{{ element.origem }}</mat-card-subtitle>
      </mat-card-header>
      <img class="img-cat" mat-card-image src="{{ element.url }}" alt="Photo of a {{ element.nome }}">
      <mat-card-content>
        <p>
          {{element.descricao}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>FAVORITO</button>
      </mat-card-actions>
    </mat-card>
  </button>
</section>
<app-saiba-mais *ngIf="continuar"></app-saiba-mais>
