header{
  width: 100%;
  position: relative;
  background-color: rgb(233, 228, 218);
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(177, 175, 175);
  font-size: 110%;
}
.logo{
  position: absolute;
}
.logo > *{
  position: absolute;
  width: 100px;
  top: -15px;
  object-fit: cover;
  height: 100px;
}
nav{
  width: 30%;
  margin: auto;
  display: table;
}
nav > div{
  display: table-cell;
  text-align: center;
  width: 100px;
  height: 70px;
  vertical-align: middle;
  cursor: pointer;
}
.ativo{
  border-bottom: 5px solid rgb(36, 36, 180);
  font-weight: bold;
}
